# Gradle
.gradle/
.android-sdk/
build/
gradle-app.setting
.gradletasknamecache

# Android Studio
.idea/
*.iml
*.apk
*.ap_
*.class
*.dex
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.log
*.ktx
*.zip
*.war
*.ear
*.apks
*.aar
*.mobileprovision
*.orig
*.swp
*~

# Local properties
local.properties

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.sublime-*

# Build artifacts
app/build/
